$borderRadiusLg: 24px;
$borderRadiusMd: 12px;
$borderRadiusSm: 8px;

$webHeaderHeight: 80px;
$mobileHeaderHeight: 78px;
$viewportHeight: calc(100vh - #{$webHeaderHeight});
$mobileViewportHeight: calc(100vh - #{$mobileHeaderHeight});



:export {
  borderRadiusLg: $borderRadiusLg;
  borderRadiusMd: $borderRadiusMd;
  borderRadiusSm: $borderRadiusSm;

  viewportHeight: $viewportHeight;
  mobileViewportHeight: $mobileViewportHeight;

  mainMaxWidth: 1440px;
}